@use "variables" as *;

/*========================================================
global
========================================================*/
html {
  width: 100%;
  height: 100%;
  font-size: $base-font-size-small; // 基本のフォントサイズ
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: $base-font-family-jp; // フォント設定
  color: #000!important; // テキストの基本色
  background-color: #f6f1e8!important; // 背景色
  font-weight: 300!important;
  font-style: normal;

  a{
    text-decoration: none;
  }

  *,
  ::after,
  ::before{
    transition: .5s;
  }
}

.body-fade{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin-top: 100px;
  opacity: 0;
  transition: 1.5s;

  &.show{
    margin-top: 0;
    opacity: 1;
  }
}