/*========================================================
colors
========================================================*/
$main-color: #000000; // メインカラー
$sub-color: #6c757d; // 補助カラー
$bg-color: #f8f9fa; // 背景色
$err-color: #dc3545; // 警告色

/*========================================================
fonts
========================================================*/
$base-font-family: "Arial, sans-serif";
$base-font-size-small: 16px; // 基本サイズ
$base-font-size-title: 20px; // 見出しサイズ

/*========================================================
spacing
========================================================*/
$left-space: 10px; // 左側余白
$right-space: 10px; // 右側余白

/*========================================================
breakpoint
========================================================*/
$breakpoint-xs: 768px; // スマホ（iPadmini含む）
$breakpoint-s: 992px; // タブレット
$breakpoint-m: 1200px; //MacBook Air
$breakpoint-l: 1440px; //MacBook Pro