/*========================================================
colors
========================================================*/
$main-color: #F3EAD9; // メインカラー
$sub-color: #F84B20; // 補助カラー
$bg01-color: #fff; // 背景色
$bg02-color: #C1B092; // 背景色
$err-color: #dc3545; // 警告色

/*========================================================
fonts
========================================================*/
$base-font-family-jp: "Zen Kaku Gothic New", sans-serif;
$base-font-family-en: "EB Garamond", sans-serif;
$base-font-size-small: 14px; // 基本サイズ
$base-font-size-title: 20px; // 見出しサイズ

$line-height-l: 180%;
$line-height-m: 150%;
$line-height-s: 100%;

/*========================================================
spacing
========================================================*/
$left-space: 10px; // 左側余白
$right-space: 10px; // 右側余白

/*========================================================
content
========================================================*/
$content-width:1120px;

/*========================================================
animation
========================================================*/
// 背景を拡大
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}

//右向き
@keyframes transformLeftRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes transformRightLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

//左向き
@keyframes transformLeftRotateRight {
  0% {
    transform: translateX(200%) rotate(-180deg);
  }
  100% {
    transform: translateX(0) rotate(-180deg);
  }
}
@keyframes transformRightRotateLeft {
  0% {
    transform: translateX(0) rotate(-180deg);
  }
  100% {
    transform: translateX(-200%) rotate(-180deg);
  }
}