@use "../base" as *;

/*========================================================
footer
========================================================*/
.l-footer{
  background: #4F4030;

  .l-footer_inner{
    padding: 60px 0 90px;
    width: $content-width;
    margin:0 auto;

    @include mq(note){
      width: 90%;
    }

    @include mq(sp){
      width: 100%;
      padding: 0 20px 100px;
    }
  }

  .l-footer__flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;

    @include mq(sp){
      display: block;
      padding: 0;
      border: 0;
    }

    &-item{

      &.--left{

        @include mq(tab){
          width: 20%;
        }

        @include mq(sp){
          width: 100%;
          text-align: center;
        }
      }
      &.--right{

        @include mq(tab){
          width: 80%;
          padding-left: 20px;
        }

        @include mq(sp){
          width: 100%;
          padding: 0;
        }
      }

      .l-footer__logo{
        margin-bottom: 70px;

        @include mq(tab){
          margin-bottom: 20px;
        }

        @include mq(sp){
          width: 173px;
          margin:-13px auto 40px;
        }

      }

      .l-footer__link{
        color:#fff;
        font-size: 14px;
        line-height: $line-height-l;
      }

      .l-footer__nav{
        display: flex;
        flex-wrap: wrap;
        gap: 0 34px;
        max-width: 566px;

        @include mq(sp){
          max-width: 100%;
        }

        &-item{
          width: calc(50% - 17px);

          @include mq(sp){
            width: 100%;
          }

          &.--sub{
            display: flex;
            flex-wrap: wrap;
            padding: 16px 0;

            @include mq(sp){
              padding: 16px 0 0 ;
            }

            .l-footer__sub-link{
              color:#fff;
              display: inline-block;
              margin: 0 16px 8px 0;
              font-size: 12px;
              line-height: $line-height-l;
            }
          }

          &:nth-child(1){

            @include mq(sp){
              order:1;
            }

          }
          &:nth-child(2){

            @include mq(sp){
              order:5;
            }

          }
          &:nth-child(3){

            @include mq(sp){
              order:2;
            }

          }
          &:nth-child(4){

            @include mq(sp){
              order:6;
            }

          }
          &:nth-child(5){

            @include mq(sp){
              order:3;
            }

          }
          &:nth-child(6){

            @include mq(sp){
              order:7;
            }

          }
          &:nth-child(7){

            @include mq(sp){
              order:4;
            }

          }
          &:nth-child(8){

            @include mq(sp){
              order:8;
            }

          }
          &:nth-child(9){

            @include mq(sp){
              order:9;
            }

          }
        }

        &-link{
          color:#fff;
          font-size: 14px;
          line-height: $line-height-l;
          padding: 16px 8px;
          border-bottom: 1px solid #fff;
          display: block;
          position: relative;

          &::before{
            content: "";
            width: 16px;
            height: 14px;
            @include svg-arrow(15px, 13px, FFFFFF);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 6.5px;
            margin: auto;
            display: block;
          }

        }

      }

    }

  }

  .l-footer__copy{
    text-align: center;
    margin-top: 24px;
    line-height: $line-height-l;
    color: #AAAAAA;
    font-size: 12px;

    @include mq(sp){
      margin-top: 40px;
    }
  }

}