@use "../base" as *;

/*========================================================
section
========================================================*/
.s-section__inner{
  width: $content-width;
  margin:0 auto;
  padding: 100px 0;

  &.--service{
    width: 100%;
    padding: 100px 150px 100px 0;
  }
  &.--recruit{
    width: 100%;
  }
  &.--environment{
    padding: 0 0 100px;
  }
  &.--message{
    padding: 120px 0;
  }
}

.s-page__head{
  position: relative;

  &-inner{
    padding: 0 150px;
    width: 100%;
    height: 470px;
    background: url(../images/common/page_head_bg.png) no-repeat;
    background-position: center bottom;
  }
  &-logo{
    position: absolute;
    top:60px;
    left:100px;
  }
  &-ttl{
    color:#fff;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);

    h1{
      font-size: 96px;
    }
    p{
      font-size: 20px;
    }
  }
  &-txt{
    text-align: center;
    line-height: $line-height-l;
    font-size: 16px;
  }
}

.s-font__en{
  font-family: $base-font-family-en;
}
.s-ttl{
  padding-left: 40px;
  position: relative;
  margin-bottom: 80px;

  &.--recruit{
    display: inline-block;
  }

  &.--contact{
    margin-bottom: 50px;
  }

  &.--company{
    margin: 0 auto;
  }

  span{
    width: 24px;
    height: 24px;
    position: absolute;
    top:0;
    left:0;

    &::before{
      content:"";
      width: 24px;
      height: 24px;
      @include svg-plus(24, 24, F84B20);
      position: absolute;
      top:0;
      left:0;
      display: block;
    }
  }

  &__text{
    font-size: 64px;
    display: inline-block;
    margin-right: 24px;

    &.--white{
      color:#fff;
    }

  }

  &__desp{
    font-size: 20px;
    display: inline-block;

    &.--white{
      color:#fff;
    }

  }

}

/*========================================================
contact
========================================================*/
.s-contact{
  background: url(../images/common/footer_bg.png) no-repeat;
  background-position: center bottom;
  background-size: contain;

  .contact-layout__flex{
    width: 1140px;
    margin:0 auto;
    padding: 100px 100px 120px;
    background: url(../images/common/contact_bg.png) no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    color:#fff;
    justify-content: space-between;
    align-items: flex-end;

    .contact__head-txt{
      font-size: 16px;
      line-height: $line-height-l;
    }

    .contact__btn{

    }
  }
}

/*========================================================
関連コンテンツ
========================================================*/
.s-contents{
  background: #F3EAD9;

  &__flex{
    display: flex;
    gap: 0 30px;

    &-item{
      width: calc(100% / 3 - 15px);
      position: relative;

      &:hover{
        opacity: .7;

        .b-button__arrow-item {
          &::before {
            animation-name: transformRightLeft;
            animation-delay: 0s;
          }

          &::after {
            animation-name: transformLeftRight;
            animation-delay: 0.2s;
          }
        }
      }

      .s-contents__ttl{
        position: absolute;
        top:40px;
        left:16px;
        color:#fff;
        padding-left: 40px;

        &::before{
          content:"";
          width: 24px;
          height: 24px;
          position: absolute;
          top:0;
          left:0;
          @include svg-plus(24px, 24px, F84B20);
          display: block;
        }

        .s-contents__ttl-txt{
          font-size: 40px;
          margin-bottom: 8px;
        }

        .s-contents__ttl-desp{
          font-size: 16px;
        }

      }

      .s-contents__btn{
        position: absolute;
        right:24px;
        bottom:40px;
      }

    }

  }

}

/*========================================================
サービス内容
========================================================*/
.s-service{
  background: #F3EAD9;

  .section-ttl{
    text-align: center;

    .s-ttl{
      display: inline-block;
    }
  }

  &__flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 32px;

    &-item{
      padding: 32px 24px 40px;
      background: #fff;
      border-radius: 0 8px 0 8px;
      width: calc(100% /3 - 32px);
      position: relative;

      &:before{
        content:"";
        @include svg-plus(24px, 24px, F84B20);
        width: 24px;
        height: 24px;
        position: absolute;
        top:-12px;
        left:-12px;
      }

    }

    &-ttl{
      color:$sub-color;
      font-size: 20px;
      display: block;
      text-align: center;
      margin-bottom: 24px;
    }

    &-txt{
      line-height: $line-height-l;
    }
  }

  .s-service__txt{
    line-height: $line-height-l;
    text-align: center;
    font-size: 16px;
  }

}

/*========================================================
サービス概要
========================================================*/
.s-about{

  .s-about__flex{
    display: flex;
    justify-content: space-between;

    .--about{
      margin-bottom: 48px;
    }

  }

  .s-about__item{
    width: 50%;

    &.--txt{
      padding-right: 67px;
    }

    &-ttl{
      color:$sub-color;
      font-size: 24px;
      line-height: $line-height-l;
      display: block;
      margin-bottom: 32px;
    }

    &-txt{
      line-height: $line-height-l;
    }

    &-img{
      display: block;
      margin-left: auto;
    }
  }
}

/*========================================================
ページリンク
========================================================*/
.s-page__link{
  background: url(../images/common/page_link_bg.png) no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 300px 0 0;

  .s-page__link-flex{
    padding: 64px;
    background: #fff;
    display: flex;
  }

  .s-page__flex-item{

    &.--img{
      width: 250px;

      p{
        margin-top: 16px;
      }

      span{
        font-size: 20px;
        display: inline-block;
        margin-left: 16px;
      }
    }

    &.--txt{
      width: calc(100% - 250px);
      padding-left: 48px;
    }
  }

  .s-page__item-ttl{
    font-size: 28px;
    padding-left:40px;
    position: relative;
    margin-bottom: 20px;
    display: block;

    &::before{
      content:"";
      width: 24px;
      height: 24px;
      position: absolute;
      top:-7px;
      left:0;
      @include svg-plus(24px, 24px, F84B20);
      display: block;
    }

  }

  .s-page__item-txt{
    font-size: 16px;
    line-height: $line-height-l;
    margin-bottom: 48px;
  }

  .s-page__flex-btn{
    display: flex;
    gap:0 16px;
  }

}