@use "../base" as *;

/*========================================================
contact
========================================================*/
#contact{

  .contact{
    background: url(../images/common/footer_bg.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 300px;

    @include mq(sp){
      padding-bottom: 100px;
    }
  }

  .contact-form{
    background:#fff;
    padding: 70px 80px;

    @include mq(sp){
      padding: 40px 20px;
      border-radius: 0 8px 0 8px;
    }

    .wpcf7-not-valid-tip{
      margin-top: 10px;
      font-family: $base-font-family-jp;
    }

    .wpcf7-response-output{
      text-align: center;
      font-size: 16px;
      border: 0;
      font-family: $base-font-family-jp;
    }

    &__row{
      display: flex;

      @include mq(sp){
        flex-wrap: wrap;
      }

      &+.contact-form__row{
        margin-top: 30px;

        @include mq(sp){
          margin-top: 16px;
        }
      }

      &.--required{

        .--item{
          position: relative;

          &:before{
            content:"*";
            position: absolute;
            right:-15px;
            top:10px;
            color:#FF0000;
            font-size: 16px;
            display: none;

            @include mq(sp){
              display: block;
            }
          }

        }
        .--input{
          position: relative;

          &:before{
            content:"*";
            position: absolute;
            left:-16.5px;
            top:10px;
            color:#FF0000;
            font-size: 16px;

            @include mq(sp){
              display: none;
            }
          }

        }

      }

      &-item{

        &.--item{
          width: 28%;
          font-size: 16px;
          padding: 10px 0;

          @include mq(sp){
            width: fit-content;
          }
        }

        &.--input{
          width: 72%;

          @include mq(sp){
            width: 100%;
          }

          .mwform-tel-field{
            display: flex;
            align-items: center;

            input{
              margin: 0 5px;
            }
          }

          &.--address{
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @include mq(sp){
              padding-left: 26px;
            }


              span:nth-child(1){
                width: 30%;

                @include mq(sp){
                  width: 50%;
                }
              }
              span:nth-child(2){
                width: 100%;
                margin:10px 0 0 0;
              }

            &:before{
              content:"〒";
              position: absolute;
              left:-23px;
              top:6px;
              font-size: 16px;

              @include mq(sp){
                left: 0;
              }
            }

          }

          &.--message{
            position: relative;

            &:before{
              content:"*";
              position: absolute;
              left:-16.5px;
              top:10px;
              color:#FF0000;
              font-size: 16px;
            }

          }

          input,textarea{
            width: 100%;
            padding: 10px;
            background: #F9F9F9;
            border:0;
            font-size: 16px;
            outline: none;
            border:1px solid transparent;
            font-family: $base-font-family-jp;

            &:focus,
            &:focus-visible{
              border:1px solid #bbb;
            }

            &.address{
              margin-bottom: 10px;
              width: 180px;
            }
          }

          textarea{
            height: 287px;
            resize: vertical;
          }
        }
      }
    }

    .praivacy-check{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 70px;

      &+.praivacy-check{
        margin-bottom: 24px;
        margin-top: 10px;
      }

      input{
        width: fit-content;
        margin: 0;
        border:1px solid #808080;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border-radius: 0;
        appearance: none;
        position: relative;

        &:checked{
          background: $sub-color;
          border:1px solid $sub-color;

          &::before{
            display: block;
          }
        }

        &:before{
          content: "";
          width: 5px;
          height: 10px;
          border:solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          position: absolute;
          top:-1px;
          left: 0;
          right: 0;
          margin: auto;
          display: none;
        }

        &:after{
          content:"*";
          position: absolute;
          left:-16.5px;
          top:2px;
          color:#FF0000;
          font-size: 16px;
        }

      }

      label{
        cursor: pointer;
      }
    }

    .submit-button{

      .b-button__link{
        padding-left: 0;
        &:hover input{
          color:$sub-color;
        }
      }

      input{
        cursor: pointer;
        width: 264px;
        height: 64px;
        border-radius: 100px;
        background: none;
        border:none;
        color:#fff;
        font-size: 16px;
        text-align: left;
        padding-left: 32px;
      }
    }
  }

}

#comfirm{

  .comfirm{
    background: url(../images/common/footer_bg.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 300px;

    @include mq(sp){
      padding-bottom: 100px;
    }
  }

  h4{
    color:$sub-color;
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;

    @include mq(sp){
      font-size: 20px;
    }
  }

  .comfirm-form{
    background:#fff;
    padding: 70px 80px;

    @include mq(sp){
      padding: 40px 20px;
      border-radius: 0 8px 0 8px;
    }

    &__row{
      display: flex;

      @include mq(sp){
        flex-wrap: wrap;
      }

      &+.contact-form__row{
        margin-top: 30px;

        @include mq(sp){
          margin-top: 16px;
        }
      }

      &-item{

        &.--item{
          width: 28%;
          font-size: 16px;
          padding: 10px 0;
          line-height: $line-height-l;
          font-weight: bold;

          @include mq(sp){
            width: 100%;
            padding: 0;
          }
        }

        &.--input{
          width: 72%;
          padding: 10px 0;
          line-height: $line-height-l;
          font-size: 16px;

          @include mq(sp){
            width: 100%;
            padding: 0;
            margin: 8px 0 30px;
          }
        }
      }
    }

  }

  .btn__group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    @include mq(sp){
      display: block;
      margin-top: 40px;
    }

    .--send{
      margin-left: 16px;

      @include mq(sp){
        margin-left: 0;
        margin-top: 16px;
      }

      .b-button__link{
        justify-content: center;
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }

}

#thanks{

  .thanks{
    text-align: center;
    background: url(../images/common/footer_bg.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 300px;

    @include mq(sp){
      padding-bottom: 150px;
    }

    .s-section__inner{

      @include mq(sp){
        padding: 0 20px;
      }
    }

    .thanks-ttl{
      line-height: $line-height-l;
      color:$sub-color;
      font-size: 96px;

      @include mq(sp){
        font-size: 64px;
      }

      span{
        display: inline-block;
        opacity: 0;
        transition: 0s;
      }
    }

    .thanks-ttl__txt{
      line-height: $line-height-l;
      font-size: 16px;
      margin-bottom: 70px;

      @include mq(sp){
        font-size: 14px;
      }

      span{
        display: block;
        font-size: 24px;
        margin-bottom: 40px;
        line-height: $line-height-m;

        @include mq(sp){
          font-size: 20px;
        }
      }

    }

  }

}