@use "../base" as *;

/*========================================================
news
========================================================*/
.news{

  .news-cat{
    font-weight: 500;
    padding-left: 24px;
    position: relative;
    margin-bottom: 16px;

    &:before{
      content:"";
      width: 16px;
      height: 16px;
      background: url(../images/common/icon_plus.png) no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      margin: auto;
    }
  }

  .news-cat__list{
    display: flex;
    gap: 0 8px;
    margin-bottom: 48px;

    @include mq(sp){
      flex-wrap: wrap;
      gap:8px 8px;
    }

    &-item{

      &.--active{

        a{
          background: $bg02-color;
          color:#fff;
        }

      }

      a{
        display: inline-block;
        padding: 7px 24px;
        color:$bg02-color;
        border:1px solid $bg02-color;
        border-radius: 100px;

        @include mq(sp){
          padding: 7px 20px;
          font-size: 12px;
        }

        &:hover{
          background:$bg02-color;
          color:#fff;
        }

      }

    }

  }

}